<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cdn/css/draw.css">
    <title id = "titleDrawing">Miscommunication Mayhem Drawing:</title>
</head>
<body class="body">
    <div class = 'canvas-container'>
        <h1 id = "title-drawing">Miscommunication Mayhem</h1>
        <canvas class = 'drawing-canvas' id="drawing-canvas"></canvas>
    </div>
     

    <script src="/cdn/scripts/draw.js"></script>
</body>
</html>