/* Defining of gray color palette as constants */
:root {
    --gray-button: #6c757d;
    --gray-dark: #dcdcdc;
    --gray-light: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}

/* Set up of a dynamic gradient background of grays */
/* The body is set to take up at least the full viewport height and center its children horizontally. */
body {
    align-items: center;
    background: linear-gradient(45deg, var(--gray-light), var(--gray-dark));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    font-size: 1vw;
}

/* The .title-drawing class applies styles to the title. */
.title-drawing{
    margin: 5vh auto;
    justify-content: center;
}

/* The .canvas-container class is applied to the container that wraps the title and the canvas. */
.canvas-container {
    align-items: center;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 1vw; 
    justify-content: center;
    margin: 5vh auto;
    max-width: 150vh; 
}

.tool-box{
    background: white;
    height: 70vh; 
    width: 10vw;
    flex: none; 
    border-radius: 7px;
    box-shadow: 0 0 2vh black;
    flex-direction: column;
}

.tool-box .row{
    margin-right: 1vw; /* This will add space to the right of each .row */
    cursor: pointer;
}

.row .options{
    list-style: none;
    padding: 1em; /* Use em for padding */
}
.svg{
    width: 1.5vw;
    height:1.5vh; 
}

.color-options{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    justify-content: center;
    list-style: none;
    max-width: 90%;
    margin-left: -1vw;
}

.color-option{
    display: flex;
    flex-direction: column; /* This will make the .btn-color-field and input elements sit in a column */
    gap: 0.1vw;
    justify-content: center;
    list-style: none;
}

input[type='color'] {
    width: 100%; /* This will put the input element on a new line */
}

.btn-color-field{
    width:1.5vw;
    height:2vh;
}


.btns{
    padding: 1vh; 
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    gap:1vh;
}

.btn{
    width: 8vw;
    height: 4vh;
}

.btn:hover {
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}


.tool-option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%)
}

.shape-option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%)
}



.drawing-board{
    flex-grow: 1; 
}


/* The .drawing-canvas class applies styles to the canvas. */
.canvas-container .drawing-canvas {
    height: 70vh;
    width: 60vw;
    border-radius: 7px;
    background-color: black;
}