/* Defining of gray color palette as constants */
:root {
    --gray-light: #f3f3f3;
    --gray-dark: #dcdcdc;
    --gray-button: #6c757d;
}

/* Set up of a dynamic gradient background of grays */
body {
    background: linear-gradient(45deg, var(--gray-light), var(--gray-dark));
    margin: 0;
    padding: 0;
    max-height: 100vh; 
}

/* Style for the centered box */
.drawingCanvas {
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjust as needed */
    height: 60%; /* Adjust as needed */
    display: block; /* Required for margin: auto to work */
    margin: 10% auto; /* 10% margin at the top and bottom, auto on the sides */
}