/* Defining of gray color palette as constants */
:root {
    --gray-light: #f3f3f3;
    --gray-dark: #dcdcdc;
    --gray-button: #6c757d;
}

/* Set up of a dynamic gradient background of grays */
body {
    background: linear-gradient(45deg, var(--gray-light), var(--gray-dark));
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh auto; /* 10% margin at the top and bottom, auto on the sides */
}

.canvas-container .titleDrawing{
    margin: 5vh auto; /* 10% margin at the top and bottom, auto on the sides */
}
.canvas-container .drawingCanvas {
    width: 60vw; /* Adjust as needed */
    height: 70vh; /* Adjust as needed */
}